.header {
  &-top {
    text-align: center;
    padding-block: 6rem;

    p {
      font-weight: 600;
      text-transform: capitalize;
    }

    h1 {
      margin-bottom: 4rem;
      span {
        color: $color-grey;
      }
    }
  }

  &-bottom {
    padding-bottom: 10rem;

    width: min(95vw, 150rem);
    margin: 0 auto;

    display: grid;
    grid-template-rows: 25rem 25rem 25rem;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;

    @include respond(phone) {
      grid-gap: 1.2rem;
    }

    &__col {
      background-position: center;
      background-size: cover;
      border-radius: 6rem;

      &.centerbox {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .textbox {
          position: relative;
          z-index: 1;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 25rem;
            width: 25rem;
            border-radius: 50%;
            z-index: -1;
            backdrop-filter: blur(3px);
            background-image: radial-gradient(
              #ffffff6f,
              #ffffff92,
              transparent,
              transparent
            );
          }
        }
      }

      @include respond(phone) {
        border-radius: 3rem;
      }

      h2 {
        margin-bottom: 4rem;
      }
    }

    .col-1 {
      background-image: url(/asset/image/livingroom-1.jpg);
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }

    .col-2 {
      background-image: url(/asset/image/livingroom-2.jpg);
      grid-row: 2 / 6;
      grid-column: 1 / 3;

      .textbox {
        text-align: center;
      }
    }

    .col-3 {
      background-image: url(/asset/image/bedroom.jpg);
      grid-row: 1 / 3;
      grid-column: 3 / 6;

      .textbox {
        text-align: center;

        p {
          text-transform: uppercase;
          font-size: 1.4rem;
          margin-bottom: 2rem;
        }
      }
    }

    .col-4 {
      background-color: $color-secondary;
      grid-row: 3 / 6;
      grid-column: 3 / 6;

      .container {
        height: 100%;
        padding: 0rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 6rem;

        @include respond(tab-port) {
          flex-direction: column;
          gap: 3rem;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }

  &-foot {
    position: relative;
    pointer-events: none;
    // overflow-x: hidden;
    // height: 10rem;
    // display: flex;
    // justify-content: center;
    // align-items: stretch;

    .offers {
      // height: 100%;
      // width: 100%;
      // transform: scale(1.1);

      .top {
        color: $color-white;
        background-color: $color-black;
        transform: rotate(-1.5deg);
      }

      .bottom {
        background-color: $color-secondary;
        transform: rotate(2.5deg);
      }

      .offer {
        display: flex;
        align-items: center;
        position: absolute;
        gap: 10rem;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        padding: 1.5rem 0;
        overflow: hidden;

        @include respond(phone) {
          gap: 5rem;
        }

        p {
          white-space: nowrap;
        }
      }
    }
  }
}
