// Bcakground
$color-primary: #f6f6f6;
$color-sub-primary: #222221;
$color-secondary: #d0ffc0;
$color-sub-secondary: #e6dccc;
$color-tertiary: #f5f5f5;
$color-sub-tertiary: #e2e3e2;

// Text
$color-black: #000;
$color-white: #ffffff;
$color-grey: #5b7486;
$color-secondary: #d0ffc0;
$color-grey-2: #3f3e38;
$color-second: #69875a;

// Hovers
$color-hover: #8ce99a;
$color-grey-2: #3f3e38;

